smart modul BACKUP/Connected Services/ServiceInterface/item4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SmartModulBackupClasses.WCF" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SmartModulBackupClasses.WCF" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CommonFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CommonFault" nillable="true" type="tns:CommonFault" />
</xs:schema>