smart modul BACKUP/Connected Services/ServiceInterface/item3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SmartModulBackupClasses" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SmartModulBackupClasses" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8081/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="BackupInProgress">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ProgressMonitor">
        <xs:sequence>
          <xs:element minOccurs="0" name="CurrentState" type="tns:BackupState" />
          <xs:element minOccurs="0" name="Errors" nillable="true" type="tns:ArrayOfError" />
          <xs:element minOccurs="0" name="RuleId" type="xs:int" />
          <xs:element minOccurs="0" name="RuleName" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BackupInProgress" nillable="true" type="tns:BackupInProgress" />
  <xs:complexType name="ProgressMonitor">
    <xs:sequence>
      <xs:element minOccurs="0" name="Parameter" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Progress" type="xs:float" />
      <xs:element minOccurs="0" name="ProgressId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProgressMonitor" nillable="true" type="tns:ProgressMonitor" />
  <xs:simpleType name="BackupState">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Initializing" />
      <xs:enumeration value="RunningProcesses" />
      <xs:enumeration value="ConnectingSftp" />
      <xs:enumeration value="ConnectingSql" />
      <xs:enumeration value="CreatingVss" />
      <xs:enumeration value="BackupSources" />
      <xs:enumeration value="ZipBackup" />
      <xs:enumeration value="SftpUpload" />
      <xs:enumeration value="MovingToLocalFolder" />
      <xs:enumeration value="Cancelling" />
      <xs:enumeration value="Finishing" />
      <xs:enumeration value="OneToOneBackups" />
      <xs:enumeration value="Done" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="BackupState" nillable="true" type="tns:BackupState" />
  <xs:complexType name="ArrayOfError">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Error" type="tns:Error" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfError" nillable="true" type="tns:ArrayOfError" />
  <xs:complexType name="Error">
    <xs:annotation>
      <xs:appinfo>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorDetail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ErrorHeader" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Error" nillable="true" type="tns:Error" />
  <xs:complexType name="Restore">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="backupID" type="xs:int" />
      <xs:element minOccurs="0" name="location" type="tns:BackupLocation" />
      <xs:element minOccurs="0" name="pcId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="sources" nillable="true" type="tns:ArrayOfSavedSource" />
      <xs:element minOccurs="0" name="zip_path" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Restore" nillable="true" type="tns:Restore" />
  <xs:simpleType name="BackupLocation">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Local" />
      <xs:enumeration value="SFTP" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="BackupLocation" nillable="true" type="tns:BackupLocation" />
  <xs:complexType name="ArrayOfSavedSource">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SavedSource" nillable="true" type="tns:SavedSource" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSavedSource" nillable="true" type="tns:ArrayOfSavedSource" />
  <xs:complexType name="SavedSource">
    <xs:sequence>
      <xs:element minOccurs="0" name="Error" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ErrorDetail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Success" type="tns:SuccessLevel" />
      <xs:element minOccurs="0" name="filename" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="sourcepath" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="type" type="tns:BackupSourceType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SavedSource" nillable="true" type="tns:SavedSource" />
  <xs:simpleType name="SuccessLevel">
    <xs:restriction base="xs:string">
      <xs:enumeration value="TotalFailure" />
      <xs:enumeration value="SomeErrors" />
      <xs:enumeration value="EverythingWorked" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="SuccessLevel" nillable="true" type="tns:SuccessLevel" />
  <xs:simpleType name="BackupSourceType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Database" />
      <xs:enumeration value="Directory" />
      <xs:enumeration value="File" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="BackupSourceType" nillable="true" type="tns:BackupSourceType" />
  <xs:complexType name="RestoreInProgress">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ProgressMonitor">
        <xs:sequence>
          <xs:element minOccurs="0" name="CurrentState" type="tns:RestoreState" />
          <xs:element minOccurs="0" name="Errors" nillable="true" type="tns:ArrayOfError" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="RestoreInProgress" nillable="true" type="tns:RestoreInProgress" />
  <xs:simpleType name="RestoreState">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Starting" />
      <xs:enumeration value="ConnectingSftp" />
      <xs:enumeration value="ConnectingSql" />
      <xs:enumeration value="DownloadingZip" />
      <xs:enumeration value="ExtractingZip" />
      <xs:enumeration value="RestoringSources" />
      <xs:enumeration value="Finishing" />
      <xs:enumeration value="Done" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="RestoreState" nillable="true" type="tns:RestoreState" />
  <xs:complexType name="ArrayOfBackupInProgress">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BackupInProgress" nillable="true" type="tns:BackupInProgress" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBackupInProgress" nillable="true" type="tns:ArrayOfBackupInProgress" />
  <xs:complexType name="ArrayOfRestoreInProgress">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RestoreInProgress" nillable="true" type="tns:RestoreInProgress" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRestoreInProgress" nillable="true" type="tns:ArrayOfRestoreInProgress" />
  <xs:complexType name="RestoreResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="Success" type="tns:SuccessLevel" />
      <xs:element minOccurs="0" name="errors" nillable="true" type="tns:ArrayOfError" />
      <xs:element minOccurs="0" name="info" nillable="true" type="tns:Restore" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RestoreResponse" nillable="true" type="tns:RestoreResponse" />
</xs:schema>