smart modul BACKUP/Connected Services/ServiceInterface/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8081/?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:8081/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/SmartModulBackupClasses" />
  <xs:element name="Reload">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ReloadResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRunningBackups">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRunningBackupsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetRunningBackupsResult" nillable="true" type="q1:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DoSingleBackup">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ruleXml" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DoSingleBackupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SmartModulBackupClasses" minOccurs="0" name="DoSingleBackupResult" nillable="true" type="q2:BackupInProgress" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Restore">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SmartModulBackupClasses" minOccurs="0" name="restoreInfo" nillable="true" type="q3:Restore" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RestoreResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/SmartModulBackupClasses" minOccurs="0" name="RestoreResult" nillable="true" type="q4:RestoreInProgress" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBackupsInProgress">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBackupsInProgressResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/SmartModulBackupClasses" minOccurs="0" name="GetBackupsInProgressResult" nillable="true" type="q5:ArrayOfBackupInProgress" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRestoresInProgress">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRestoresInProgressResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/SmartModulBackupClasses" minOccurs="0" name="GetRestoresInProgressResult" nillable="true" type="q6:ArrayOfRestoreInProgress" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Connect">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ConnectResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Disconnect">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DisconnectResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ImStillHere">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ImStillHereResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateApi">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateApiResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ReloadConfig">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ReloadConfigResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SetRule">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ruleXml" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetRuleResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CleanupBackups">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CleanupBackupsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ShowError">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="error" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ShowErrorResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="TestConnection">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="TestConnectionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ShowMsg">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="msg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ShowMsgResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Goodbye">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GoodbyeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="StartRestore">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/SmartModulBackupClasses" minOccurs="0" name="progress" nillable="true" type="q7:RestoreInProgress" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StartRestoreResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="StartBackup">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/SmartModulBackupClasses" minOccurs="0" name="progress" nillable="true" type="q8:BackupInProgress" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StartBackupResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateRestore">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/SmartModulBackupClasses" minOccurs="0" name="progress" nillable="true" type="q9:RestoreInProgress" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateRestoreResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateBackup">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/SmartModulBackupClasses" minOccurs="0" name="progress" nillable="true" type="q10:BackupInProgress" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateBackupResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CompleteRestore">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/SmartModulBackupClasses" minOccurs="0" name="progress" nillable="true" type="q11:RestoreInProgress" />
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/SmartModulBackupClasses" minOccurs="0" name="response" nillable="true" type="q12:RestoreResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CompleteRestoreResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CompleteBackup">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/SmartModulBackupClasses" minOccurs="0" name="progress" nillable="true" type="q13:BackupInProgress" />
        <xs:element minOccurs="0" name="BackupID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CompleteBackupResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>