smart modul BACKUP/Connected Services/ServiceInterface/SmartModulBackupInterface.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SmartModulBackupInterface" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetNamedPipeBinding_ISmartModulBackupInterface_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8081/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8081/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8081/?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:8081/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/SmartModulBackupClasses" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISmartModulBackupInterface_Reload_InputMessage">
    <wsdl:part name="parameters" element="tns:Reload" />
  </wsdl:message>
  <wsdl:message name="ISmartModulBackupInterface_Reload_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReloadResponse" />
  </wsdl:message>
  <wsdl:message name="ISmartModulBackupInterface_GetRunningBackups_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRunningBackups" />
  </wsdl:message>
  <wsdl:message name="ISmartModulBackupInterface_GetRunningBackups_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRunningBackupsResponse" />
  </wsdl:message>
  <wsdl:message name="ISmartModulBackupInterface_DoSingleBackup_InputMessage">
    <wsdl:part name="parameters" element="tns:DoSingleBackup" />
  </wsdl:message>
  <wsdl:message name="ISmartModulBackupInterface_DoSingleBackup_OutputMessage">
    <wsdl:part name="parameters" element="tns:DoSingleBackupResponse" />
  </wsdl:message>
  <wsdl:message name="ISmartModulBackupInterface_Restore_InputMessage">
    <wsdl:part name="parameters" element="tns:Restore" />
  </wsdl:message>
  <wsdl:message name="ISmartModulBackupInterface_Restore_OutputMessage">
    <wsdl:part name="parameters" element="tns:RestoreResponse" />
  </wsdl:message>
  <wsdl:message name="ISmartModulBackupInterface_GetBackupsInProgress_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBackupsInProgress" />
  </wsdl:message>
  <wsdl:message name="ISmartModulBackupInterface_GetBackupsInProgress_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBackupsInProgressResponse" />
  </wsdl:message>
  <wsdl:message name="ISmartModulBackupInterface_GetRestoresInProgress_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRestoresInProgress" />
  </wsdl:message>
  <wsdl:message name="ISmartModulBackupInterface_GetRestoresInProgress_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRestoresInProgressResponse" />
  </wsdl:message>
  <wsdl:message name="ISmartModulBackupInterface_Connect_InputMessage">
    <wsdl:part name="parameters" element="tns:Connect" />
  </wsdl:message>
  <wsdl:message name="ISmartModulBackupInterface_Connect_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConnectResponse" />
  </wsdl:message>
  <wsdl:message name="ISmartModulBackupInterface_Disconnect_InputMessage">
    <wsdl:part name="parameters" element="tns:Disconnect" />
  </wsdl:message>
  <wsdl:message name="ISmartModulBackupInterface_Disconnect_OutputMessage">
    <wsdl:part name="parameters" element="tns:DisconnectResponse" />
  </wsdl:message>
  <wsdl:message name="ISmartModulBackupInterface_ImStillHere_InputMessage">
    <wsdl:part name="parameters" element="tns:ImStillHere" />
  </wsdl:message>
  <wsdl:message name="ISmartModulBackupInterface_ImStillHere_OutputMessage">
    <wsdl:part name="parameters" element="tns:ImStillHereResponse" />
  </wsdl:message>
  <wsdl:message name="ISmartModulBackupInterface_ShowError_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:ShowError" />
  </wsdl:message>
  <wsdl:message name="ISmartModulBackupInterface_ShowError_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:ShowErrorResponse" />
  </wsdl:message>
  <wsdl:message name="ISmartModulBackupInterface_TestConnection_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:TestConnection" />
  </wsdl:message>
  <wsdl:message name="ISmartModulBackupInterface_TestConnection_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:TestConnectionResponse" />
  </wsdl:message>
  <wsdl:message name="ISmartModulBackupInterface_ShowMsg_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:ShowMsg" />
  </wsdl:message>
  <wsdl:message name="ISmartModulBackupInterface_ShowMsg_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:ShowMsgResponse" />
  </wsdl:message>
  <wsdl:message name="ISmartModulBackupInterface_Goodbye_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:Goodbye" />
  </wsdl:message>
  <wsdl:message name="ISmartModulBackupInterface_Goodbye_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:GoodbyeResponse" />
  </wsdl:message>
  <wsdl:message name="ISmartModulBackupInterface_StartRestore_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:StartRestore" />
  </wsdl:message>
  <wsdl:message name="ISmartModulBackupInterface_StartRestore_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:StartRestoreResponse" />
  </wsdl:message>
  <wsdl:message name="ISmartModulBackupInterface_StartBackup_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:StartBackup" />
  </wsdl:message>
  <wsdl:message name="ISmartModulBackupInterface_StartBackup_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:StartBackupResponse" />
  </wsdl:message>
  <wsdl:message name="ISmartModulBackupInterface_UpdateRestore_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:UpdateRestore" />
  </wsdl:message>
  <wsdl:message name="ISmartModulBackupInterface_UpdateRestore_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:UpdateRestoreResponse" />
  </wsdl:message>
  <wsdl:message name="ISmartModulBackupInterface_UpdateBackup_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:UpdateBackup" />
  </wsdl:message>
  <wsdl:message name="ISmartModulBackupInterface_UpdateBackup_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:UpdateBackupResponse" />
  </wsdl:message>
  <wsdl:message name="ISmartModulBackupInterface_CompleteRestore_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:CompleteRestore" />
  </wsdl:message>
  <wsdl:message name="ISmartModulBackupInterface_CompleteRestore_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:CompleteRestoreResponse" />
  </wsdl:message>
  <wsdl:message name="ISmartModulBackupInterface_CompleteBackup_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:CompleteBackup" />
  </wsdl:message>
  <wsdl:message name="ISmartModulBackupInterface_CompleteBackup_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:CompleteBackupResponse" />
  </wsdl:message>
  <wsdl:portType msc:usingSession="true" name="ISmartModulBackupInterface">
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="Reload">
      <wsdl:input wsaw:Action="http://tempuri.org/ISmartModulBackupInterface/Reload" message="tns:ISmartModulBackupInterface_Reload_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISmartModulBackupInterface/ReloadResponse" message="tns:ISmartModulBackupInterface_Reload_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="GetRunningBackups">
      <wsdl:input wsaw:Action="http://tempuri.org/ISmartModulBackupInterface/GetRunningBackups" message="tns:ISmartModulBackupInterface_GetRunningBackups_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISmartModulBackupInterface/GetRunningBackupsResponse" message="tns:ISmartModulBackupInterface_GetRunningBackups_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="DoSingleBackup">
      <wsdl:input wsaw:Action="http://tempuri.org/ISmartModulBackupInterface/DoSingleBackup" message="tns:ISmartModulBackupInterface_DoSingleBackup_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISmartModulBackupInterface/DoSingleBackupResponse" message="tns:ISmartModulBackupInterface_DoSingleBackup_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="Restore">
      <wsdl:input wsaw:Action="http://tempuri.org/ISmartModulBackupInterface/Restore" message="tns:ISmartModulBackupInterface_Restore_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISmartModulBackupInterface/RestoreResponse" message="tns:ISmartModulBackupInterface_Restore_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="GetBackupsInProgress">
      <wsdl:input wsaw:Action="http://tempuri.org/ISmartModulBackupInterface/GetBackupsInProgress" message="tns:ISmartModulBackupInterface_GetBackupsInProgress_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISmartModulBackupInterface/GetBackupsInProgressResponse" message="tns:ISmartModulBackupInterface_GetBackupsInProgress_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="GetRestoresInProgress">
      <wsdl:input wsaw:Action="http://tempuri.org/ISmartModulBackupInterface/GetRestoresInProgress" message="tns:ISmartModulBackupInterface_GetRestoresInProgress_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISmartModulBackupInterface/GetRestoresInProgressResponse" message="tns:ISmartModulBackupInterface_GetRestoresInProgress_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="Connect">
      <wsdl:input wsaw:Action="http://tempuri.org/ISmartModulBackupInterface/Connect" message="tns:ISmartModulBackupInterface_Connect_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISmartModulBackupInterface/ConnectResponse" message="tns:ISmartModulBackupInterface_Connect_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="Disconnect">
      <wsdl:input wsaw:Action="http://tempuri.org/ISmartModulBackupInterface/Disconnect" message="tns:ISmartModulBackupInterface_Disconnect_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISmartModulBackupInterface/DisconnectResponse" message="tns:ISmartModulBackupInterface_Disconnect_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="ImStillHere">
      <wsdl:input wsaw:Action="http://tempuri.org/ISmartModulBackupInterface/ImStillHere" message="tns:ISmartModulBackupInterface_ImStillHere_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISmartModulBackupInterface/ImStillHereResponse" message="tns:ISmartModulBackupInterface_ImStillHere_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="ShowError">
      <wsdl:output wsaw:Action="http://tempuri.org/ISmartModulBackupInterface/ShowError" message="tns:ISmartModulBackupInterface_ShowError_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="http://tempuri.org/ISmartModulBackupInterface/ShowErrorResponse" message="tns:ISmartModulBackupInterface_ShowError_InputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="TestConnection">
      <wsdl:output wsaw:Action="http://tempuri.org/ISmartModulBackupInterface/TestConnection" message="tns:ISmartModulBackupInterface_TestConnection_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="http://tempuri.org/ISmartModulBackupInterface/TestConnectionResponse" message="tns:ISmartModulBackupInterface_TestConnection_InputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="ShowMsg">
      <wsdl:output wsaw:Action="http://tempuri.org/ISmartModulBackupInterface/ShowMsg" message="tns:ISmartModulBackupInterface_ShowMsg_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="http://tempuri.org/ISmartModulBackupInterface/ShowMsgResponse" message="tns:ISmartModulBackupInterface_ShowMsg_InputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="Goodbye">
      <wsdl:output wsaw:Action="http://tempuri.org/ISmartModulBackupInterface/Goodbye" message="tns:ISmartModulBackupInterface_Goodbye_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="http://tempuri.org/ISmartModulBackupInterface/GoodbyeResponse" message="tns:ISmartModulBackupInterface_Goodbye_InputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="StartRestore">
      <wsdl:output wsaw:Action="http://tempuri.org/ISmartModulBackupInterface/StartRestore" message="tns:ISmartModulBackupInterface_StartRestore_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="http://tempuri.org/ISmartModulBackupInterface/StartRestoreResponse" message="tns:ISmartModulBackupInterface_StartRestore_InputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="StartBackup">
      <wsdl:output wsaw:Action="http://tempuri.org/ISmartModulBackupInterface/StartBackup" message="tns:ISmartModulBackupInterface_StartBackup_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="http://tempuri.org/ISmartModulBackupInterface/StartBackupResponse" message="tns:ISmartModulBackupInterface_StartBackup_InputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="UpdateRestore">
      <wsdl:output wsaw:Action="http://tempuri.org/ISmartModulBackupInterface/UpdateRestore" message="tns:ISmartModulBackupInterface_UpdateRestore_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="http://tempuri.org/ISmartModulBackupInterface/UpdateRestoreResponse" message="tns:ISmartModulBackupInterface_UpdateRestore_InputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="UpdateBackup">
      <wsdl:output wsaw:Action="http://tempuri.org/ISmartModulBackupInterface/UpdateBackup" message="tns:ISmartModulBackupInterface_UpdateBackup_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="http://tempuri.org/ISmartModulBackupInterface/UpdateBackupResponse" message="tns:ISmartModulBackupInterface_UpdateBackup_InputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="CompleteRestore">
      <wsdl:output wsaw:Action="http://tempuri.org/ISmartModulBackupInterface/CompleteRestore" message="tns:ISmartModulBackupInterface_CompleteRestore_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="http://tempuri.org/ISmartModulBackupInterface/CompleteRestoreResponse" message="tns:ISmartModulBackupInterface_CompleteRestore_InputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="CompleteBackup">
      <wsdl:output wsaw:Action="http://tempuri.org/ISmartModulBackupInterface/CompleteBackup" message="tns:ISmartModulBackupInterface_CompleteBackup_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="http://tempuri.org/ISmartModulBackupInterface/CompleteBackupResponse" message="tns:ISmartModulBackupInterface_CompleteBackup_InputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetNamedPipeBinding_ISmartModulBackupInterface" type="tns:ISmartModulBackupInterface">
    <wsp:PolicyReference URI="#NetNamedPipeBinding_ISmartModulBackupInterface_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/named-pipe" />
    <wsdl:operation name="Reload">
      <soap12:operation soapAction="http://tempuri.org/ISmartModulBackupInterface/Reload" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRunningBackups">
      <soap12:operation soapAction="http://tempuri.org/ISmartModulBackupInterface/GetRunningBackups" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DoSingleBackup">
      <soap12:operation soapAction="http://tempuri.org/ISmartModulBackupInterface/DoSingleBackup" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Restore">
      <soap12:operation soapAction="http://tempuri.org/ISmartModulBackupInterface/Restore" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBackupsInProgress">
      <soap12:operation soapAction="http://tempuri.org/ISmartModulBackupInterface/GetBackupsInProgress" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRestoresInProgress">
      <soap12:operation soapAction="http://tempuri.org/ISmartModulBackupInterface/GetRestoresInProgress" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Connect">
      <soap12:operation soapAction="http://tempuri.org/ISmartModulBackupInterface/Connect" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Disconnect">
      <soap12:operation soapAction="http://tempuri.org/ISmartModulBackupInterface/Disconnect" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ImStillHere">
      <soap12:operation soapAction="http://tempuri.org/ISmartModulBackupInterface/ImStillHere" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ShowError">
      <soap12:operation soapAction="http://tempuri.org/ISmartModulBackupInterface/ShowError" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TestConnection">
      <soap12:operation soapAction="http://tempuri.org/ISmartModulBackupInterface/TestConnection" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ShowMsg">
      <soap12:operation soapAction="http://tempuri.org/ISmartModulBackupInterface/ShowMsg" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Goodbye">
      <soap12:operation soapAction="http://tempuri.org/ISmartModulBackupInterface/Goodbye" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StartRestore">
      <soap12:operation soapAction="http://tempuri.org/ISmartModulBackupInterface/StartRestore" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StartBackup">
      <soap12:operation soapAction="http://tempuri.org/ISmartModulBackupInterface/StartBackup" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateRestore">
      <soap12:operation soapAction="http://tempuri.org/ISmartModulBackupInterface/UpdateRestore" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateBackup">
      <soap12:operation soapAction="http://tempuri.org/ISmartModulBackupInterface/UpdateBackup" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CompleteRestore">
      <soap12:operation soapAction="http://tempuri.org/ISmartModulBackupInterface/CompleteRestore" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CompleteBackup">
      <soap12:operation soapAction="http://tempuri.org/ISmartModulBackupInterface/CompleteBackup" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SmartModulBackupInterface">
    <wsdl:port name="NetNamedPipeBinding_ISmartModulBackupInterface" binding="tns:NetNamedPipeBinding_ISmartModulBackupInterface">
      <soap12:address location="net.pipe://localhost/SmartModulBackupService" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.pipe://localhost/SmartModulBackupService</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Spn>host/LAPTOP-2F5QK6O6</Spn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>